[Desktop Entry]
Version=1.0
Name=Prism Launcher
Comment=Minecraft Launcher
Type=Application
Terminal=false
Exec=prismlauncher %U
StartupNotify=True
Icon=org.prismlauncher.Prismlauncher
Categories=Game
Keywords=game;minecraft;mc;
StartupWMClass=PrismLauncher
MimeType=application/zip;application/x-modrinth-modpack+zip;x-scheme-handler/curseforge;

