[Unit]
Description=Selfhosted samba share
Requires=network-online.target
After=network-online.target

[Mount]
What=//192.168.7.210/nas
Where=/run/media/nas
Type=cifs
Options=credentials=/home/jaime/.credentials,iocharset=utf8,rw,file_mode=0755,dir_mode=0755,uid=1000,gid=1000,nofail,x-systemd.automount
TimeoutSec=30

[Install]
WantedBy=multi-user.target
