[Desktop Entry]
Name=Wallpaper
GenericName=Random-wallpaper
Comment=Random wallpaper at login
Exec=wallpaper
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
